[submodule "dwm"]
	path = dwm
	url = https://github.com/tomisnhamilton/dwm.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/tomisnhamilton/dmenu.git
[submodule "st"]
	path = st
	url = https://github.com/tomisnhamilton/st.git
